<div class="container menu">
    <nav class="navbar navbar-expand-lg navbar-light ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="">PRESTACLIC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">PLANES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">NOSTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">AYUDA</a>
                </li>
                <li class="nav-item btn-register">
                    <a class="nav-link txt-register" href="" style="color: #6089c1">REGISTRATE</a>
                </li>
                <li class="nav-item btn-login">
                    <a class="nav-link" href="/dashboard" style="color: #ebead5;">INICIAR SESION</a>
                </li>
            </ul>
        </div>
    </nav>
</div>