<footer>
    <div class="container padding">
        <div class="row footer-border">
            <div class="col-md-4">

                <h3>Empresa</h3>


                <p>Registrate<br>Nostros<br>Mapa del Sitio</p>

                <h3>Otros sitios DataCrédito</h3>


                <p>www.midatacredito.com<br>www.datacredito.com</p>

            </div>
            <div class="col-md-4">

                <h3>Empresa</h3>


                <p>Contáctenos </p>
                <p> Centro de Ayuda </p>
                <p>Preguntas Frecuentes</p>
                <p>Términos Legales</p>
                <p>¿Por qué contratar BePartnerts?</p>

            </div>

            <div class="col-md-4">

                <img src="assets/imgs/logo-footer1.png" class="img-100">
                <img src="assets/imgs/logo-footer2.png" class="img-100">

            </div>

        </div>
    </div>
</footer>