<div class="bg-gray">

    <app-menu-back></app-menu-back>


    <div class="container padding-top-bottom">
        <div class="row">
            <div class="col-md-4">

                <div class="card text-center margin-bottom">
                    <div class="card-body">
                        <h5 class="card-title">Indicador de riesgo</h5>
                        <img src="assets/imgs/charts.jpg">
                        <p class=" color-dash">El indicador de riesgo BeParthners te permitirá determinar el nivel de riesgo en el que e encuentra tu empresa</p>
                        <a class="btn btn-light btn-login">CONÓCELO</a>
                    </div>
                </div>

                <div class="card text-center margin-bottom">
                    <div class="card-body">
                        <h5 class="card-title">Indicador de confianza</h5>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <p class=" color-dash">Queremos conocerte, completa a información de tu empresa, y eleva el % de confianza</p>
                        <a class="btn btn-light btn-login">COMPLETA TU PERFIL</a>
                    </div>
                </div>

            </div>
            <div class="col-md-8">

                <div class="card  margin-bottom2">
                    <div class="card-body">
                        <h5 class="card-title">Queremos saber más de tu empresa</h5>

                        <p class=" color-dash">La información que diligencies en este formulario será la que podrás visualizar en tu perfil BeParthners</p>

                    </div>
                </div>



                <div class="card  margin-bottom">

                    <ul class="nav nav-tabs text-center">
                        <li [ngClass]="{'activate1':tab1==true}"><a (click)="tabs(1)" [ngStyle]="{'color':tab1==true ? '#fff' : '#333' }">INFORMACIÓN EMPRESA</a></li>
                        <li [ngClass]="{'activate2':tab2==true}"><a (click)="tabs(2)" [ngStyle]="{'color':tab2==true ? '#fff' : '#333' }">VINCULADOS</a></li>
                        <li [ngClass]="{'activate3':tab3==true}"><a (click)="tabs(3)" [ngStyle]="{'color':tab3==true ? '#fff' : '#333' }">ESTADO FINANCIERO</a></li>
                    </ul>
                    <div class="bg-foto text-center">
                        <img src="assets/imgs/foto.png" style="width: 150px">
                    </div>




                    <div class="card-body">
                        <div *ngIf="tab1">
                            <h4>Datos de tu Empresa</h4>
                            <div class="row">

                                <div class="col-md-11">
                                    <label for="exampleInputEmail1">RAZÓN SOCIAL</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>
                                <div class="col-md-1">
                                    <label for="exampleInputEmail1"></label>
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked style="margin-top: 30px;">
                                    <i class="fas fa-info-circle icon-info" style="margin-top: 30px;"></i>
                                </div>

                                <div class="col-md-11">
                                    <label for="exampleInputEmail1">NOMBRE COMERCIAL</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>
                                <div class="col-md-1">
                                    <label for="exampleInputEmail1"></label>
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked style="margin-top: 30px;">
                                    <i class="fas fa-info-circle icon-info" style="margin-top: 30px;"></i>
                                </div>

                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">TIPO DE IDENTIFICACIÓN</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>

                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">NÚMERO DE IDENTIFICACIÓN</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>

                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">CÁMARA DE COMERCIO</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>

                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">ESTADO DE MATRICULA</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="exampleFormControlSelect1">ACTIVIDAD ECONOMICA</label>
                                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                </select>
                                </div>

                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">CÓDIGO CIU</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="exampleInputEmail1">DESCRIPCIÓN EMPRESA</label>
                                    <textarea class="form-control" placeholder="Agrega una breve descipción de tu empresa"></textarea>
                                </div>

                            </div>

                            <h4>Contacto y ubicación de tu Empresa</h4>
                            <div class="row">

                                <div class="col-md-1 text-center">
                                    <i class="fas fa-mobile-alt icon-form"></i>
                                </div>
                                <div class="form-group col-md-10">
                                    <label for="exampleInputEmail1">CORREO ELECTRÓNICO DE FACTURACIÓN</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>
                                <div class="col-md-1">
                                    <label for="exampleInputEmail1"></label>
                                    <i class="fas fa-edit icon-info" style="margin-top: 30px;"></i>
                                </div>

                                <div class="col-md-1 text-center">
                                    <i class="far fa-envelope icon-form"></i>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="exampleInputEmail1">TELÉFONO COMERCIAL</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>
                                <div class="col-md-1 text-center">
                                    <i class="fas fa-map-marker-alt icon-form"></i>

                                </div>
                                <div class="form-group col-md-5">
                                    <label for="exampleInputEmail1">TELÉFONO COMERCIAL</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>
                            </div>


                            <h4>Tu Empresa en la red</h4>
                            <div class="row">

                                <div class="col-md-1 text-center">
                                    <i class="fas fa-globe-africa icon-form"></i>

                                </div>
                                <div class="form-group col-md-5">
                                    <label for="exampleInputEmail1">PÁGINA WEB</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>
                                <div class="col-md-1 text-center">
                                    <i class="fab fa-facebook icon-form"></i>


                                </div>
                                <div class="form-group col-md-5">
                                    <label for="exampleInputEmail1">FACEBOOK</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>

                                <div class="col-md-1 text-center">
                                    <i class="fab fa-linkedin icon-form"></i>

                                </div>
                                <div class="form-group col-md-5">
                                    <label for="exampleInputEmail1">LINKEDIN</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>
                                <div class="col-md-1 text-center">
                                    <i class="fab fa-twitter icon-form"></i>


                                </div>
                                <div class="form-group col-md-5">
                                    <label for="exampleInputEmail1">TWITTER</label>
                                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>



                <div class="card  margin-bottom2">

                    <ul class="nav nav-tabs2 text-center">
                        <li [ngClass]="{'activate1':tab2_1==true}"><a (click)="tabs2(1)" [ngStyle]="{'color':tab2_1==true ? '#fff' : '#333' }">INFORMACIÓN EMPRESA</a></li>
                        <li [ngClass]="{'activate3':tab2_2==true}"><a (click)="tabs2(2)" [ngStyle]="{'color':tab2_2==true ? '#fff' : '#333' }">VINCULADOS</a></li>

                    </ul>
                    <div class="card-body padding" *ngIf="tab2_1">
                        <div class="card  margin-bottom2">
                            <div class="card-body ">

                                <h4>Sucursal</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">NOMBRE</label>
                                        <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="exampleFormControlSelect1">CIUDAD</label>
                                        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                              <option>Bogotá</option>
                                              <option>Medellín</option>
                                            </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">DIRECCIÓN</label>
                                        <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                    </div>

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">TELÉFONO</label>
                                        <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>