<app-menu-front></app-menu-front>

<div class="bg-home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/imgs/logo-be-partnerts.png" class="img-70">
                <div class="spacer-30"></div>

                <h4 class="title-color-gray">Somos el mejor aliado <br>para proteger tu negocio</h4>

                <p class="p-color-gray ">Adquiere soluciones en línea que te permitan minimizar <br>riesgos, todo un espacio seguro con el respaldo de<br> DataCrédito Experian</p>
                <a class="btn btn-light btn-login">REGISTRATE GRATIS</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4 class="text-center"> Con BePartners podrás</h4>
    <div class="row">
        <div class="col-md-4 text-center padding" *ngFor="let item of BePartners">
            <img src="assets/imgs/{{item.icon}}">
            <h5 class="title-color-gray border-purple padding"> {{item.title}}</h5>
            <p class="p-color-gray ">{{item.content}}</p>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-light btn-login">CONÓCENOS!</a>
    </div>
</div>

<div class="call-to-action">
    <div class="bg-purple">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/imgs/img-call.png" class="img-call">
                </div>
                <div class="col-md-6 call-txt">
                    <div class="spacer-30"></div>
                    <h4>Cuida tu dinero con PrestaClic</h4>
                    <p>Te ofrecemos información de valor para que tomes mejores desiciones, disminuyas riesgos y conozcas a tus potenciales clientes.</p>
                    <a class="btn btn-light btn-login">PRUEBALO GRATIS</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container padding text-center">
    <h4 class="text-center"> Nuestros Planes</h4>
    <p class="text-center"> Tenemos diferentes opciones de PrestaClic para tí</p>

    <div class="row">


        <div class="col-md-4  text-center" *ngFor="let item of pricinTable">
            <div class="table">
                <div [ngClass]="{ 'head-purple':item.color == 'purple', 'head-green':item.color == 'green' }">
                    <h4>PrestaClic <br>{{item.plan}}</h4>
                </div>
                <div [ngClass]="{ 'body-purple':item.color == 'purple', 'body-green':item.color == 'green' }">

                    <h2>${{item.valor}}</h2>
                    <h6 [ngClass]="{ 'consulta-purple':item.color == 'purple', 'consulta-green':item.color == 'green'  }">{{item.cant}}</h6>

                    <div class="row items-table" *ngFor="let datos of item.items">

                        <div class="col-md-12 text-left">
                            <img src="assets/imgs/{{datos.icon}}" style="height:14px;"> {{datos.item}}
                        </div>

                    </div>

                    <a class="btn btn-light " style="color: #fff;" [ngClass]="{ 'btn-purple':item.color == 'purple', 'btn-green':item.color == 'green'  }">¡PRUEBALO GRATIS!</a>


                </div>

            </div>
        </div>
    </div>
</div>


<img src="assets/imgs/testimonials.jpg" class="img-100 testimonials">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="forms">
                <h4>Contáctanos</h4>

                <form class="row">
                    <div class="form-group col-md-7">
                        <label for="exampleInputEmail1">TU NOMBRE</label>
                        <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">

                    </div>
                    <div class="form-group col-md-5">
                        <label for="exampleFormControlSelect1">CIUDAD</label>
                        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                          <option>Bogotá</option>
                          <option>Medellín</option>
                        </select>
                    </div>
                    <div class="form-group col-md-7">
                        <label for="exampleInputEmail1">EMAIL</label>
                        <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">

                    </div>
                    <div class="form-group col-md-5">
                        <label for="exampleInputEmail1">TELÉFONO</label>
                        <input type="text" class="form-control form-control-sm" id="exampleInputEmail1">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleFormControlSelect1">ASUNTO</label>
                        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                              <option>Petición</option>
                              <option>Queja</option>
                            </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleInputEmail1">DEJANOS TU COMENTARIO</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">He leído y acepto los términos y condiciones</label>
                        </div>
                        <a class="btn btn-light btn-login">HAZ UNA PREGUNTA</a>
                    </div>
                </form>


            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/imgs/img-form.jpg" class="img-100">
        </div>
    </div>
</div>

<app-footer></app-footer>