/* You can add global styles to this file, and also import other style files */

.menu {
    padding: 10px 0px 0px 0px;
}

.bg-home {
    background: url('./assets/imgs/slider1.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

.bg-purple {
    background: url('./assets/imgs/bg-purple.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
}

.nav-link {
    font-size: 14px;
    margin: 0px 7px;
    color: #a0a09e;
}

.active {
    border-bottom: 3px solid #b7bf11;
}

.btn-register {
    border: 2px solid #6089c1;
    border-radius: 10px;
    margin: 0px 5px;
}

.btn-login {
    background-color: #b7bf11;
    border-radius: 10px;
    border: none;
}

.img-100 {
    width: 100%;
}

.img-90 {
    width: 90%;
}

.img-80 {
    width: 80%;
}

.img-70 {
    width: 70%;
}

.spacer-5 {
    height: 5%;
}

.spacer-10 {
    height: 10%;
}

.spacer-30 {
    height: 30%;
}

.spacer-50 {
    height: 50%;
}

.title-color-gray {
    color: #4a484d;
}

.p-color-gray {
    color: #63645f;
}

.border-purple {
    border-bottom: 3px solid #63325f;
}

.padding {
    padding: 6%;
}

.img-call {
    width: 80%;
    position: relative;
    margin-top: -125px;
}

.call-to-action {
    padding-top: 12%;
}

.call-txt {
    padding-left: 10%;
    color: #fff;
}

.table {
    box-shadow: 5px 5px 5px #bbbbbb;
    border-radius: 10px;
    margin: 2%;
}

.head-purple {
    background-color: #811e79;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    padding: 8px 0px;
}

.head-green {
    background-color: #c4cb3f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    padding: 8px 0px;
}

.body-purple {
    color: #811e79;
    padding: 5%;
}

.body-green {
    color: #c4cb3f;
    padding: 20px;
}

.consulta-purple {
    padding: 10px 0px;
    border-bottom: 2px solid #811e79;
}

.consulta-green {
    padding: 10px 0px;
    border-bottom: 2px solid #c4cb3f;
}

.items-table {
    color: #646464;
    padding: 5px 0px;
}

.btn-purple {
    margin: 20px 0px;
    background-color: #811e79;
    color: #fff;
}

.btn-green {
    margin: 20px 0px;
    background-color: #c4cb3f;
    color: #fff;
}

footer {
    background-color: #3d3d3b;
    color: #fff;
}

.footer-border {
    border-bottom: 1px solid #fff;
}

.forms {
    width: 100%;
    border: 2px solid #ededed;
    margin-left: 43px;
    background-color: #fff;
    position: relative;
    margin-top: -85px;
    border-radius: 20px;
    z-index: 9999;
    padding: 5%;
    box-shadow: 5px 5px 5px #bbbbbb;
}

label {
    font-size: 12px;
    color: #6f6f71;
}

.form-control {
    border: 2px solid #b0aaaa;
    margin-top: -7px;
}

.btn-light {
    color: #fff
}

.bg-gray {
    background-color: #eceaeb;
    height: 100%;
}

.navbar-dash {
    background-color: #fff;
    border-bottom: 1px solid #bababa;
    box-shadow: 0px 3px 3px #eee;
}

.user-login {
    color: #c4cb3f;
}

.padding-top-bottom {
    padding: 3% 0px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
}

.color-dash {
    color: #646462;
    font-size: 13px;
}

.margin-bottom {
    margin-bottom: 10%;
}

.margin-bottom2 {
    margin-bottom: 3%;
}

.nav-tabs {
    width: 100%;
    background-color: #fff;
    padding: 12px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    box-shadow: 0px 3px 3px #eee;
    padding-bottom: 0px;
}

.nav-tabs li {
    width: 33%;
    cursor: pointer;
}

.nav-tabs2 li {
    width: 49%;
    cursor: pointer;
    margin-top: 0px;
    padding-top: 5px;
}

.activate1 {
    border-top-left-radius: 10px;
    background-color: #af73a9;
    margin-top: -12px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.activate2 {
    background-color: #af73a9;
    margin-top: -12px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.activate3 {
    border-top-right-radius: 10px;
    background-color: #af73a9;
    margin-top: -12px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 7px;
}

.activate1 a {
    color: #fff;
    cursor: pointer;
}

.activate2 a {
    color: #fff;
    cursor: pointer;
}

.activate3 a {
    color: #fff;
    cursor: pointer;
}

.nav-tabs li a {
    color: #777775;
}

.icon-form {
    color: #af73a9;
    font-size: 30px;
    margin-top: 24px;
    margin-left: 22px;
    text-align: center
}

.icon-info {
    color: #01559d;
}

.tabs-card {
    width: 100%;
    background-color: #fff;
    padding: 15px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0px;
    text-align: center;
    color: #a1a19f;
}

.tabs-card-active {
    background-color: #954890;
    color: #fff;
}

.bg-foto {
    background: url('./assets/imgs/bgfoto.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120px;
}

@media (max-width: 600px) {
    .call-to-action {
        padding: 40% 0px;
    }
    .bg-purple {
        background: url('./assets/imgs/bg-purple.jpg') no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 420px;
    }
    .testimonials {
        display: none;
    }
    .forms {
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .bg-gray {
        padding: 0px 5%;
    }
}