<nav class="navbar navbar-expand-lg navbar-light navbar-dash  ">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">


            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <img src="assets/imgs/logo-dashboard.png" style="height: 45px;">
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="">
                        <i class="fas fa-columns"></i> MI GESTOR
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="">
                                 PRESTACLIC
                        </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="">
                                    AYUDA
                            </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link " href="">
                        <img src="assets/imgs/avatar.png" style="height: 30px;">
                    </a>
                </li>
                <li class="nav-item user-login">
                    <a class="nav-link " href="" style="color: #c4cb3f; margin-top: 3px">DENTIFELIZ</a>
                </li>

            </ul>
        </div>
    </div>
</nav>